<h1> Transactions for <%= user.username %> </h1>
<p>Here is your list of things to do!</p>

<ul>
    <a href="showTransaction.ejs">transaction table</a>
</ul>

  <div class="row">
    <div class="col">

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>category</th>
            <th>amount</th>
          </tr>
        </thead>
        <tbody>
            <% records.forEach(record => { %>
              <tr>
                <td><%= record.category %></td>
                <td><%= record.amount %></td>
              </tr>
            <% }) %>
        </tbody>
        </table>
    </div>
</div>