
    <h1>Team 14 </h1>
    <span class="text-danger description">Welcome to our App! This is our project for fundamentals of software engineering taught by prof. Timothy Hickey. Here you can create your own todo list and store your transactions. </span>
    <!-- Here we show how to encode a URI and get weather data -->
    <% address = encodeURI("152 Aspinwall Ave, Brookline MA, 02446") %>
    <!-- <a href="https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=<%= address %>&benchmark=2020&format=json"> 
        get weather</a> -->
    
<div class="container">
    <div class="item">
        <h1 class="name">Xiaoran</h2>
        <ul class="intro">
            <li>Major: Computer Science</li>
            <li>Class standing: first-year master student</li>
            <li>Hometown: Beijing, China</li>
            <li>Role: Software Development and Emotional Support Engineer</li>
            <li>Fun fact: I was in a plane accident at the age of 12!</li>
        </ul>
    </div>
    <div class="item">
        <h1 class="name">Harry</h2>
        <ul class="intro">
            <li>Major: Computer Science & Anthropology</li>
            <li>Class standing: sophomore</li>
            <li>Hometown: Beijing, China</li>
            <li>Role: Software Development</li>
            <li>Fun fact: I love the color yellow, yea...</li>
        </ul>
    </div>
    <div class="item">
        <h1 class="name">Ming</h2>
        <ul class="intro">
            <li>Major: Computer Science & Applied Mathematics</li>
            <li>Class standing: sophomore</li>
            <li>Hometown: Taiwan</li>
            <li>Role: </li>
            <li>Fun fact: I love basketball, and I don't think it's a "fun" fact Xiaoran LOL</li>
        </ul>
    </div>
    <div class="item">
        <h1 class="name">Eric</h2>
        <ul class="intro">
            <li>Major: Computer Science</li>
            <li>Class standing: sophomore</li>
            <li>Hometown: Staten Island, New York</li>
            <li>Role: Software Development</li>
            <li>Fun fact: I love to play basketball and I'm a huge Knicks fan!</li>
        </ul>
    </div>
    <div  class="item">
        <h1>Michael</h2>
        <ul class="intro">
            
        </ul>
      </div>
  </div>

  
    
  
