<h1>A Little About Us</h1>
<br>
<b style = "font-size:28px">Michael Stewart</b>
<br>
<br>
<body style = "font-size:18px">Michael is a sophomore from Rockville who is majoring in Economics and Computer Science. Some of his interests include racing cars and playing violin. When he's not spending time coding, he loves spending time outdoors in nature.</body>
<img src = "michaelpic.jpg" class="Michael"> 