<h1 class="Title">What Our Program Does!</h1>
<p class="Paragraph">
    Our program is very simple and straight foward. As the times moves on, the technology gets better and better to where we have
    Artifical Intelligence being able to help us care out tasks that we desire to complish. As a result we have untilized
    AI to help us create this website where the User can write an appropriate input based on the question that was given to them
    and have ChatGPT be able to give them the proper answer! Here are each of the Team Memebr's Program and what they do!
</p>
<div>
    <h2 class="Name">Eric's Program</h2>
    <p class="Paragraph">
        In this program, you are being asked on which President's Birthday you wish to know. After you input an appropriate
        name, ChatGPT will give you the answer. Happy Birthday!
    </p>
</div>
<div>
    <h2 class="Name">Harry's Program</h2>
    <p class="Paragraph">
        In my program, tell me the cuisine you want to relish tonight and I will give you my secret recipe!
    </p>
</div>
