<% if(updated) { %>
    <h1>Eric's Prompt</h1>
    
    <div class="container">
        <tbody>
        <h2>Enter a President of your choice to see what day is their birthday!</h2>
        <form method="POST" action="/prompt/ericpost"> 
            <textarea name="date"></textarea>
            <p><input class="submit" type=submit value="President's Birthday"><p/>
        </form>
    </tbody>
    </div> 
    
    
    
    <% }else {%>
        <div>This is my response!</div>
        <h2><%= response %></h2>
            </div>
        <a href="/">return</a>
    <% }%>
