
    <h1>links to team-members pages</h1>

    <div class="members">
        <a href="/prompt/Xiaoran" style = "color:red;" class="member">Xiaoran's Prompt</a>
        <a href="" style = "color:orange;"class="member">Ming's Prompt</a>
        <a href="/prompt/Harry" style = "color:yellow;"class="member">Harry's Prompt</a>
        <a href="" style = "color:green;"class="member">Eric's Prompt</a>
        <a href="" style = "color:blue;"class="member">Michael's Prompt</a>
    </div>
    

  
    
  
