<% if(updated) { %>
    <h1>Harry's Prompt</h1>
    
    <div class="container">
        <tbody>
        <h1>Harry C.</h1>
        <h2>Enter the course you're cooking tonight and you will receive the recipe for it</h2>
        <form method="POST" action="/prompt/harrypost"> 
            <textarea name="course"></textarea>
            <p><input class="submit" type=submit value="Generate recipe"><p/>
        </form>
    </tbody>
    </div> 
    
    
    
    <% }else {%>
        <div>This is my response!</div>
        <h2><%= response %></h2>
            </div>
        <a href="/">return</a>
    <% }%>
