<h1 class="Title">A Little About Us</h1>

<div>
    <h2 class="Name">Michael Stewart</h2>
    <p>
        Michael is a sophomore from Rockville who is majoring in Economics and Computer Science. Some of his interests include racing cars and playing violin. When he's not spending time coding, he loves spending time outdoors in nature.
    </p>
    <img src = "/images/michaelpic.jpg" class="Michael"> 

    <h2 class="Name">Eric Hurchey</h2>
    <p class="Paragraph">
        你好！Привет! 안녕! Eric is a sophomore studying Computer Science and Math from Staten Island, New York who is proud to be from Staten Island unlike a lot of people.
        When he is not coding, Eric likes to spend a lot of time playing various video games, hanging out with his friends and family,
        or going to the gym to get those gym gains! (He will usually just go to the gym to play basketball). His role was to
        write some of the unfinished code on the projects and debug some of the errors within the codes.
    </p>
    <img src="/images/ericpic.jpeg" class="Eric">
</div>