<h1 class="Title">A Little About Us</h1>

<div>
    <h2 class="Name">Michael Stewart</h2>
    <p class="Paragraph">
        Michael is a sophomore from Rockville who is majoring in Economics and Computer Science. Some of his interests include racing cars and playing violin. When he's 
        not spending time coding, he loves spending time outdoors in nature. His role in the project was setting up the general format of the website in addition to bug fixing.
    </p>
    <img src = "/images/michaelpic.jpg" class="image"> 
    <br>
    <h2 class="Name">Eric Hurchey</h2>
    <p class="Paragraph">
        你好！Привет! 안녕! Eric is a sophomore studying Computer Science and Math from Staten Island, New York who is proud to be from Staten Island unlike a lot of people.
        When he is not coding, Eric likes to spend a lot of time playing various video games, hanging out with his friends and family,
        or going to the gym to get those gym gains! (He will usually just go to the gym to play basketball). His role was to
        write some of the unfinished code on the projects and debug some of the errors within the codes.
    </p>
    <img src="/images/ericpic.jpeg" class="image">
    <br>
    <h2 class="Name">Xiaoran Liu</h2>
    <p class="Paragraph">
        Xiaoran is a first year master student studying Computer Science. Her name(翛然) means being worry-free in Chinese. She is from Beijing, China.
        When she is not coding, Xiaoran enjoys reading, kniting, and Asian pop music!
        She does not wanna put her picture so here is a cute picture of her cat...
    </p>
    <img src="/images/catpic.jpeg" class="image">
   <h2 class="Name">Harry Cheng</h2>
    <p class="Paragraph">
        Harry is a sophmore double majoring in computer science and anthropology. He is from Beijing, China. He likes to play baskebetball and running in his free time. 
        In this project, Harry wrote the code to incorporate openai and the part to save api information in the database.
    </p>
    <img src="/images/harrypic.JPG" class="image">
    <h2 class="Name">Harry Cheng</h2>
    <p class="Paragraph">
        This is Ming, this is a photo of him where he just finished this CA in the library on a thursday night 5/4 11:59 pm. He is a sohpomore studying Computer science. 
        Now he finished everything he's just gonna chill in the library. For this project, he modularized the openAPI configuration code and adding user resposnes to the database. Overall, tried to make the code look cleaner. 
        Also fixed some typos where his fellow teammates made in their intro.
    </p>
    <img src="/images/ca02.JPG" class="image">
</div>


