<h1 class="Title">A Little About Us</h1>

<div>
    <h2 class="Name">Michael Stewart</h2>
    <p class="Paragraph">
        Michael is a sophomore from Rockville who is majoring in Economics and Computer Science. Some of his interests include racing cars and playing violin. When he's 
        not spending time coding, he loves spending time outdoors in nature. His role in the project was setting up the general format of the website in addition to bug fixing.
    </p>
    <img src = "/images/michaelpic.jpg" class="Michael"> 

    <h2 class="Name">Eric Hurchey</h2>
    <p class="Paragraph">
        你好！Привет! 안녕! Eric is a sophomore studying Computer Science and Math from Staten Island, New York who is proud to be from Staten Island unlike a lot of people.
        When he is not coding, Eric likes to spend a lot of time playing various video games, hanging out with his friends and family,
        or going to the gym to get those gym gains! (He will usually just go to the gym to play basketball). His role was to
        write some of the unfinished code on the projects and debug some of the errors within the codes.
    </p>
    <img src="/images/ericpic.jpeg" class="Eric">
   <h2 class="Name">Harry Cheng</h2>
    <p class="Paragraph">
        Harry is a sophmore double majoring in computer science and anthropology. He is from Beijing, China. He likes to play baskebetball and running in his free time. 
        In this project, Harry wrote the code to incorporate openai and the part to save api information in the database.
    </p>
    <img src="/images/harrypic.JPG" class="Harry">
</div>

<style>
.Harry {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  }
</style>
