body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.Michael{
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.members{
  display: flex;
  flex-direction: column;
}
.member{
  font-size: 26px;

  padding-bottom: 30px;
}

.Eric{
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Name{
  text-align: center;
}

.Title{
  text-align: center;
}

.Paragraph{
  text-align: center;
  margin-right: 8%;
  margin-left: 8%;
}